main {
  margin: 1%;
}
img {
  max-width: 100%;
}

.video {
  width: 100%;
  height: auto;
  display: block;
}

hr {
  border: white 1px solid;
}

/* ------------------------------------------------------------- section_1 ------------------------------------------------------------- */
#section_1 {
  background-image: url("../billeder/bars2.png");
  background-size: cover;
  padding: 10%;
}

#section_1 h1 {
  text-align: center;
  font-size: 50px;
  color: white;
}

/* ------------------------------------------------------------- section_2 ------------------------------------------------------------- */
#section_2 {
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#section_2 .tekst {
  grid-column: 1/4;
  background-color: rgb(207, 190, 190, 0.3);
  margin: 2%;
  padding: 8%;
}

#section_2 .knap {
  grid-column: 2/3;

  text-align: center;
}

#section_2 {
  font-size: 1.3rem;
}

/* ------------------------------------------------------------- section_3 ------------------------------------------------------------- */
/*#section_3 .video {
  justify-items: center;
  padding-bottom: 2%;
}*/

#section_3 video {
  width: 90%;
  margin-inline: 5%;
}
#section_3 {
  margin-bottom: 5%;
}

/* ------------------------------------------------------------- section_4 ------------------------------------------------------------- */
#section_4 {
  background-color: #f0ebe7;
  padding-block: 8%;
}

#section_4 .wrapper {
  gap: 20px;
  padding: 5%;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h4 {
  text-align: center;
  padding-top: 5%;
}

#section_4 .tekst {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 5%;
  vertical-align: center;
}
.kategori {
  grid-column: 1/2;
}
.tid {
  grid-column: 2/3;
  text-align: center;
}
.pris {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: end;
}
.beskriv {
  grid-column: 1/4;
  grid-row: 2/3;
}

#section_4 .betaling {
  text-align: center;
  margin-top: 2%;
  font-size: 1.2rem;
}

#section_5 {
  margin-top: 10%;
  padding-inline: 2%;
  margin-bottom: 10%;
}

@media (min-width: 600px) {
  /* ------------------------------------------------------------- section_2 ------------------------------------------------------------- */

  #section_5 {
    /* place-content: center; */
    max-width: 70%;
    margin-left: 15%;
  }
  #section_3 video {
    width: 70%;
    margin-inline: 15%;
  }
}
