* {
  margin: 0;
  box-sizing: border-box;
}
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
}
form {
  display: grid;
  gap: 20px;
  font-style: serif;
}

.form-felt {
  display: grid;
  gap: 10px;
}
.knapper {
  display: flex;
  justify-content: space-between;
}

#section_1 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  object-fit: cover;
}

.billed1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.billed2 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.billed3 {
  grid-column: 6/7;
  grid-row: 1/2;
}

.billed4 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.billed5 {
  grid-column: 5/6;
  grid-row: 2/3;
}
