* {
  margin: 0;
  box-sizing: border-box;
}
form {
  padding: 2rem;
  background-color: #d9d7d7;
  border-radius: 8px;
}
form {
  display: grid;
  gap: 20px;
  font-style: serif;
}

.form-felt {
  display: grid;
  gap: 10px;
}
.knapper {
  display: flex;
  justify-content: space-between;
}

#section_1 .wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
#section_2 {
  text-align: center;
  padding: 10%;
}
#section_2 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#section_4 h2 {
  text-align: center;
}
#section_4 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}
#section_5 {
  text-align: center;
}
