#splashvideo {
  width: 100%;
  height: auto;
  display: block;
}
.knap {
  padding: 10%;
}
video {
  width: 100%;
  height: auto;
  display: block;
  /* margin-left: 5%; */
}
#section_2 {
  margin-top: 5%;
  margin-bottom: 5%;
}
ul.mini {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
}

.mini li {
  padding: 2rem 3rem;
  flex: 1;
  text-align: center;
}
.mini .negle {
  background-image: url("../billeder/negle13.png");
  background-size: cover;
}
.mini .vipper {
  background-image: url("../billeder/vipper.png");
  background-size: cover;
}
.mini .bars {
  background-image: url("../billeder/bars2.png");
  background-size: cover;
}

#section_3 .tekst {
  text-align: center;
}
#section_3 .knap_1 {
  border: solid white 2px;
  padding-block: 0.5%;
  padding-inline: 5%;
  background-color: #cfbebe;
  border-radius: 20px;
  text-align: center;
}
#section_3 .knap {
  text-align: center;
  padding-top: 8%;
}
#section_4 .video {
  place-items: center;
}
#section_5 {
  background-color: #f0ebe7;
  padding-block: 8%;
}
#section_5 h2 {
  text-align: center;
  margin-bottom: 5%;
}
#section_5 .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 20px;
  margin-inline: 2%;
}
#section_6 .wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline: 15%;
  margin-block: 5%;
}
#section_6 .logo_insta {
  width: 10%;
}
#section_6 .logo_face {
  width: 7%;
}

#section_7 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: #cfbebe;
}
.tekst_fodnote {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  margin-top: 5%;
}
.kontakt {
  grid-column: 1/2;
  grid-auto-rows: auto;
}
.adresse {
  grid-column: 2/3;
  margin-left: 20%;
  grid-auto-rows: auto;
}
.telefon {
  grid-column: 2/3;
  grid-auto-rows: auto;
  margin-left: 20%;
}
.betaling {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-left: 20%;
}
.folg_med {
  grid-column: 3/4;
  grid-auto-rows: auto;
  margin-left: 20%;
}
.cvr_fod {
  grid-column: 2/4;
  grid-auto-rows: auto;
}
.mandag {
  margin-top: 5%;
}
.tirsdag {
  margin-top: 2%;
}
.onsdag {
  margin-top: 2%;
}
.torsdag {
  margin-top: 2%;
}
.fredag {
  margin-top: 2%;
}
.lordag {
  margin-top: 2%;
}
.sondag {
  margin-top: 2%;
}
.folg_med .wrapper {
  display: flex;
  gap: 10px;
}
.instagram {
  width: 30%;
}
.facebook {
  width: 22%;
}
.logo img {
  border-radius: 50%;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}
@media (min-width: 600px) {
  ul.mini {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
  }

  #section_3 .wrapper {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 25%;
    flex-flow: wrap;
  }
  #section_3 .tekst {
    text-align: center;
    font-size: 1.2rem;
  }
  #section_3 .knap_1 {
    border: solid white 2px;
    padding-block: 0.5%;
    padding-inline: 5%;
    background-color: #cfbebe;
    border-radius: 20px;
  }
  #section_5 .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-inline: 5%;
  }
  #section_6 .wrapper {
    display: flex;
    justify-content: space-between;
    margin-inline: 35%;
    margin-block: 5%;
  }
}
