#splashvideo {
  width: 100%;
  height: auto;
  display: block;
}

#splashvideo {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

#section_2 .wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}
