img {
  max-width: 100%;
}
h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

.tekst1 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-column: 2/3;
  margin-left: 40%;
}
.tekst2 {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30%;

  text-align: justify;
}
.tekst2wrapper {
  background-color: #cfbebe;
}
.billed1 {
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 20%;
}

.map {
  aspect-ratio: 1/2;
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  overflow: hidden;
}
.billed2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}
.billed3 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.mandag {
  text-align: center;
  margin-bottom: 2%;
}
.tirsdag {
  text-align: center;
  margin-bottom: 2%;
}
.onsdag {
  text-align: center;
  margin-bottom: 2%;
}
.torsdag {
  text-align: center;
  margin-bottom: 2%;
}
.fredag {
  text-align: center;
  margin-bottom: 2%;
}
.lørdag {
  text-align: center;
  margin-bottom: 2%;
}
.søndag {
  text-align: center;
  margin-bottom: 2%;
}
.col_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.nummer {
  text-align: center;
  margin-bottom: 2%;
}
.telefon {
  margin-bottom: 2%;
}
.adresse {
  margin-bottom: 2%;
}
.cvr {
  margin-bottom: 2%;
}
.betaling {
  margin-bottom: 2%;
}
/* mobil str */

@media (min-width: 600px) {
  .wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .billed1 {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }

  .map {
    aspect-ratio: 1/2;
    width: 100%;
    height: auto;
    display: block;
  }
  .billed2 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
  }
  .billed3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
  }
  .wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
