ul {
  list-style: none;
  margin: 0px;
  padding: 40px;
  display: flex;
  gap: 30px;
}
nav {
  background-color: rgba(224, 192, 88, 0.932);
}
img {
  max-width: 100%;
}
a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
}
@media (min-width: 600px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(219, 206, 206);
  }
  .billed1 {
    max-width: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }
  h2 {
    margin-left: 20%;
    margin-top: 10%;
  }
  .tekst2 {
    margin-left: 10%;
    margin-block-end: auto;
  }
  .tekst1 {
    margin-left: 22%;
    margin-right: 22%;
    margin-block-end: auto;
  }
  h1 {
    margin-left: 40%;
    margin-top: 10%;
  }
  .map {
    aspect-ratio: 1/2;
    width: 100%;
    height: auto;
  }
}
