* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #d9d7d7;
}
video {
  height: auto;
  display: block;
}
/* ------------------------------------------------ header -------------------------------------------- */
/* burgermenu */
.toggle-btn {
  display: none;
}
.toggle-btn {
  padding-inline: 45%;
  font-family: "Oranienbaum", serif;
}
header {
  background-color: #cfbebe;
  padding-top: 2%;
}
header .hjem {
  text-align: center;
}
.hjem a {
  font-size: 5rem;

  font-family: "Bodino moda", serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding: 40px;
  display: flex;
  gap: 20px;
}
a {
  /* font-family: "Bodoni", bold; */
  font-family: "Oranienbaum", serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
/* ----------------------------------------------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: "Bodoni Moda", serif;
  text-align: center;
}
p {
  font-family: "Bodoni moda", serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.knap a {
  border: solid white 2px;
  padding-block: 2%;
  padding-inline: 10%;
  background-color: #cfbebe;
  border-radius: 20px;
}
#section_6 .wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline: 15%;
  margin-block: 5%;
}
#section_6 .logo_insta {
  width: 10%;
}
#section_6 .logo_face {
  width: 7%;
}
/* -------------------------------------------- footer ------------------------------------------ */
#section_7 {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: #cfbebe;
}

.tekst_fodnote {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  margin-top: 5%;
}

.kontakt {
  grid-column: 1/2;
  grid-auto-rows: auto;
}

.adresse {
  grid-column: 2/3;
  margin-left: 20%;
  grid-auto-rows: auto;
}

.telefon {
  grid-column: 2/3;
  grid-auto-rows: auto;
  margin-left: 20%;
}

.betaling {
  grid-column: 3/4;
  grid-row: 1/2;
  margin-left: 20%;
}

.folg_med {
  grid-column: 3/4;
  grid-auto-rows: auto;
  margin-left: 20%;
}

.cvr_fod {
  grid-column: 2/4;
  grid-auto-rows: auto;
}

.mandag {
  margin-top: 5%;
}

.tirsdag {
  margin-top: 2%;
}

.onsdag {
  margin-top: 2%;
}

.torsdag {
  margin-top: 2%;
}
.fredag {
  margin-top: 2%;
}

.lordag {
  margin-top: 2%;
}

.sondag {
  margin-top: 2%;
}

.folg_med .wrapper {
  display: flex;
  gap: 10px;
}
.instagram {
  width: 30%;
}
.facebook {
  width: 22%;
}
.logo img {
  border-radius: 50%;
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}
/* ------------------------------@MEDIACURRY----------------------------------------------------------------------- */

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
