h1 {
  font-family: "Bodoni Moda", serif;
}

a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
