* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #d9d7d7;
}

/* ------------------------------------------------ header -------------------------------------------- */
/* burgermenu */
.toggle-btn {
  display: none;
}

header {
  background-color: #cfbebe;
  padding-top: 2%;
}
.hjem a {
  font-size: 5rem;
<<<<<<< HEAD
  margin-left: 45%;
  font-family: "Bodino moda", serif;
=======
  margin-left: 40%;
  font-family: "Bodoni Moda", serif;
>>>>>>> e6602a6585b14df5806ae4e05a92925666d79647
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding: 40px;
  display: flex;
  gap: 20px;
}
a {
  font-family: "Bodoni", bold;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
/* ----------------------------------------------------------------------------------------------------- */
h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 3.5rem;
  text-align: center;
}
p {
  font-family: "Bodino moda", serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* ------------------------------@MEDIACURRY----------------------------------------------------------------------- */

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
