* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #d9d7d7;
}

/* ------------------------------------------------ header -------------------------------------------- */
header {
  background-color: #cfbebe;
  padding-top: 2%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding: 40px;
  display: flex;
  gap: 20px;
}
a {
  font-family: "Bodoni", bold;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}
/* ----------------------------------------------------------------------------------------------------- */
h1 {
  font-family: "Bodoni Moda", serif;
  font-size: 3.5rem;
  text-align: center;
}
p {
  font-family: "Bodino moda", serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
