* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #d9d7d7;
}
video {
  height: auto;
  display: block;
}
/* ------------------------------------------------ header -------------------------------------------- */
/* burgermenu */
.toggle-btn {
  display: none;
}

header {
  background-color: #cfbebe;
  padding-top: 2%;
}
header .hjem {
  text-align: center;
}
.hjem a {
  font-size: 5rem;
  margin-left: 45%;
  font-family: "Bodino moda", serif;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  padding: 40px;
  display: flex;
  gap: 20px;
}
a {
  /* font-family: "Bodoni", bold; */
  font-family: "Oranienbaum", serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 3 rem;
  color: black;
}
/* ----------------------------------------------------------------------------------------------------- */
h1,
h2,
h3,
h4 {
  font-family: "Bodoni Moda", serif;
  text-align: center;
}
p {
  font-family: "Bodoni moda", serif;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 2.5rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.knap a {
  border: solid white 2px;
  padding-block: 2%;
  padding-inline: 10%;
  background-color: #cfbebe;
  border-radius: 20px;
}
/* ------------------------------@MEDIACURRY----------------------------------------------------------------------- */

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }
}
