* {
  box-sizing: border-box;
  margin: 0;
}

.hjem a {
  text-align: center;
}
/* ------------------------------------------------------------- section_1 ------------------------------------------------------------- */
#section_1 {
  display: grid;
  background-size: cover;
}
/* ------------------------------------------------------------- section_2 ------------------------------------------------------------- */
