main {
  margin: 1%;
}
img {
  max-width: 100%;
}

/* ------------------------------------------------------------- section_1 ------------------------------------------------------------- */
#section_1 {
  background-image: url("Redigerede billeder/vipper.png");
  background-size: cover;
}
#section_1 h1 {
  text-align: center;
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: white;
}

/* ------------------------------------------------------------- section_3 ------------------------------------------------------------- */
#section_3 .video {
  justify-items: center;
}
/* ------------------------------------------------------------- section_4 ------------------------------------------------------------- */
#section_4 .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5%;
}

/* ------------------------- inner_wrapper1 ------------------------ */
#section_4 .inner_wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.tid1 {
  text-align: center;
}
.pris1 {
  text-align: center;
}
.beskriv1 {
  grid-column: 1/4;
  grid-row: 2/3;
}

/* ------------------------- inner_wrapper2 ------------------------ */
#section_4 .inner_wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.tid2 {
  text-align: center;
}
.pris2 {
  text-align: center;
}
.beskriv2 {
  grid-column: 1/4;
  grid-row: 2/3;
}

/* ------------------------- inner_wrapper3 ------------------------ */
#section_4 .inner_wrapper3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.tid3 {
  text-align: center;
}
.pris3 {
  text-align: center;
}
.beskriv3 {
  grid-column: 1/4;
  grid-row: 2/3;
}

#section_4 .betaling {
  text-align: center;
}
/* ------------------------------------------------------------- section_5 ------------------------------------------------------------- */

@media (min-width: 600px) {
  /* ------------------------------------------------------------- section_2 ------------------------------------------------------------- */
  #section_2 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #section_5 img {
    place-content: center;
    max-width: 50%;
  }
}
