main {
  margin: 1%;
}
img {
  max-width: 100%;
}

/* ------------------------------------------------------------- section_1 ------------------------------------------------------------- */
#section_1 {
  background-image: url("../billeder/vipper.png");
  background-size: cover;
  padding: 10%;
}

#section_1 h1 {
  text-align: center;
  /* font-family: "Bebas Neue", cursive;
  text-decoration: none;
  font-weight: bold; */
  font-size: 50px;
  color: white;
}

#section_2 {
  padding: 5%;
  padding-bottom: 5%;
  gap: 20px;
}
#section_2 .tekst {
  padding-bottom: 5%;
  gap: 10px;
}
#section_2 .knap {
  padding-block: 10%;
  text-align: center;
}
/* ------------------------------------------------------------- section_3 ------------------------------------------------------------- */
#section_3 .video {
  margin: 15%;
}
/* ------------------------------------------------------------- section_4 ------------------------------------------------------------- */

#section_4 {
  background-color: #f0ebe7;
  padding-block: 8%;
}
#section_4 h2 {
  text-align: center;
  font-size: 2rem;
}

#section_4 .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5%;
}

/* ------------------------- inner_wrapper1 ------------------------ */
#section_4 .inner_wrapper1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.tid1 {
  text-align: center;
}
.pris1 {
  text-align: center;
}
.beskriv1 {
  grid-column: 1/4;
  grid-row: 2/3;
}

/* ------------------------- inner_wrapper2 ------------------------ */
#section_4 .inner_wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.tid2 {
  text-align: center;
}
.pris2 {
  text-align: center;
}
.beskriv2 {
  grid-column: 1/4;
  grid-row: 2/3;
}

/* ------------------------- inner_wrapper3 ------------------------ */
#section_4 .inner_wrapper3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.tid3 {
  text-align: center;
}
.pris3 {
  text-align: center;
}
.beskriv3 {
  grid-column: 1/4;
  grid-row: 2/3;
}

#section_4 .betaling {
  text-align: center;
  margin-top: 2%;
  font-size: 1.2rem;
}

#section_5 {
  margin-top: 10%;
}
/* ------------------------------------------------------------- section_5 ------------------------------------------------------------- */

@media (min-width: 600px) {
  /* ------------------------------------------------------------- section_2 ------------------------------------------------------------- */
  #section_2 .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  #section_3 .video {
    margin-inline: 40%;
  }
  #section_5 {
    /* place-content: center; */
    max-width: 70%;
    margin-left: 15%;
  }
}
